* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name-color {
  display: inline-block;
  padding: 10px;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 80px;
  height: 80px;
}

#cor1 {
  background-color: black;
}

#cor2 {
  background-color: rgb(238, 43, 189);
}

#cor3 {
  background-color: green;
}

#cor4 {
  background-color: blueviolet;
}

#pixel-board {
  width: 210px;
  height: 210px;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
}
